.btn-register-section {
  display: block;
  margin: 0 auto;
  background-color: var(--app-secondary-color);
  border-color: var(--app-secondary-color);
  height: fit-content;
  border-radius: 8px;
  margin: 0 auto;

  &:active,
  &:hover {
    background: var(--app-secondary-color) !important;
    border-color: transparent !important;
  }
}

.linkSSR {
  padding: 12px 0;
}
