.item-page {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 1px 2px #e7e7e7;
  height: 680px;
}

.item-package-01 {
  background-color: #eaffea;
}

.item-package-02 {
  background-color: oldlace;
}

.item-package-03 {
  background-color: #dbffff;
}

.item-package-04 {
  background-color: #fff4ed;
}

.supper-box {
  background-color: #00a378;
  border-radius: 12px;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.sub-item-page {
  border-radius: 2px;
  margin: 3px;
  display: flex !important;
  justify-content: center !important;
  alignment: center;
  align-items: center !important;
}

.flexbox-center {
  display: flex !important;
  justify-content: center !important;
  alignment: center;
  align-items: center !important;
}

.box-icon-checked {
  font-size: 12px;
  height: 16px !important;
  width: 16px !important;
  color: #7d8fab;
  display: flex !important;
  justify-content: center !important;
  alignment: center;
  align-items: center !important;
}

.icon-checked {
  font-size: 12px;
  height: 16px !important;
  width: 16px !important;
  margin-top: 2px;
  color: #7d8fab;
  display: flex !important;
  justify-content: center !important;
  alignment: center;
  align-items: center !important;
}

.w-full {
  width: 100%;
}

.package-name {
  font-size: 20px;
  font-weight: 600;
}

.package-title-page {
  font-size: 28px;
  font-weight: 600;
}

.package-pricing {
  font-size: 20px;
  font-weight: 600;
}
.package-time {
  font-size: 16px;
  font-weight: 400;
}

.package-des {
  font-size: 16px;
  font-weight: 400;
}

.pd-4 {
  padding: 4px 4px 4px 4px !important;
}
.pd-8 {
  padding: 8px 8px 8px 8px !important;
}

.pd-12 {
  padding: 12px 12px 12px 12px !important;
}

.margin-top-negative {
  margin-top: -8px !important;
}

.m-12 {
  margin: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mr-64 {
  margin-right: 64px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.ml-64 {
  margin-left: 64px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}
